body {
    margin: 0 !important;
    padding: 0 !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}



li {
    display: block !important;
    color: #000 !important;
    padding: 8px 16px !important;
    text-decoration: none !important;
}



li:hover:not(.active) {
    background-color: #555 !important;
    color: white !important;
}

header {
    position: fixed;
    top:0px;
    width: 100%;
    background-color: #404040;
    color: white;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px
}
